/* Menu.module.css */
.menu {
    position: absolute;
    top: 75%;
    /* left: 50%; */
    transform: translateX(-40%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 8px 16px;
  }
  
  .menu ul li button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu ul li button:hover {
    text-decoration: underline;
  }
  
  .closeButton {
    display: block;
    margin-top: 8px;
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-top: 1px solid #ccc;
  }
  
  .closeButton:hover {
    background-color: #e0e0e0;
  }
  