

.Form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: whitesmoke;
    
}

.Form_box_mid {
    width: 70%;
    /* display: flex; */
    box-shadow: 0px 0px 17px -5px black;
    padding: 5px 1rem;
}
.Form_box_small {
    width: 50%;
}
.Form_box_large {
    width: 90%;
}
.Form_address{
    width: 32%;
}
.Form_problem{
    width:32%;
    display: flex;
    /* justify-content: center; */
    align-items: end;
}
.Form_checks{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Form_seciton_title h1{
    display: block;
    text-align: left;
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.5rem;
    
}
.Form_box_input{
    margin-top: 2rem;
}
.radio{
    color: var(--icons-color);
}
.tagBox{
    
        display: flex;
        flex-wrap: wrap;
      
}

.tagBox span{
    
        border: 1px solid darkorange;
        background: #ffcb0030;
        border-radius: 20px;
        padding: 2px 12px;
        color: darkorange;
        font-weight: bolder;
      
}
.problemButton{
    border: 1px solid orange;
  background: orange;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  margin: 1px 2px;

}

.tagBox button{
    background: none;
  border: none;
   font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 1000;
  margin-left: -20px;
  margin-bottom: 26px;
  color: darkorange;
 
}
.Form_box_input label{
    display: block;
    width: 100%;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: grey;
}

.Form_box_input_userName{
    width: 100%;
    border: 1px solid var(--icons-color);
    padding: 1rem;
    /* border-radius: 1rem; */
    background-color: transparent;
    margin-top: .5rem;
    outline: none;
}


.fileInput{
    width: 100%;
}
input::file-selector-button {
    width: 100%;
    border: 1px solid var(--icons-color);
    padding: 1rem;
    /* border-radius: 1rem; */
    background-color: transparent;
    margin-top: .5rem;
    outline: none;
    cursor: pointer;
    /* content: "kak"; */
  }
  
.Form_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Adjust the gap between fields as needed */
  }
  
.Form_box_input::placeholder{
    font-size: 1.2rem;
    color: var(--icons-color);
}

.Form_box_input_box{
    width: 100%;
    border: 1px solid var(--icons-color);
    /* border-radius: 1rem; */
    align-items: center;
    display: flex;
    gap: 1rem;
    overflow: hidden;
}

.Form_box_input_box_icon{
    font-size: 2rem;
    background-color: var(--icons-color);
    padding: .5rem 1rem;
    color: var(--main-bg-color);
    display: grid;
    cursor: pointer;
}

.Form_box_input_box input{
    width: 90%;
    border: 0;
    background-color: transparent;
    outline: none;
}

.Form_box_input textarea{
    width: 100%;
    background-color: transparent;
    outline: none;
    /* border-radius: 1rem; */
    border: 1px solid var(--icons-color);

    padding: 1rem;
}

.Form_box_input_social{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.Form_box_btn{
    margin: 4rem 0;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
/* Success message */
.successMessage {
    color: green;
  }
  
  /* Error message */
  .errorMessage {
    color: red;
  }

@media screen and (max-width: 35em) {
    .Form_box_input_social{
        grid-template-columns: 1fr;
    }
    .Form_box_mid {
        width: 90%;
       
    }
    .Form_address,.Form_problem{
        width: 100%;
    }
    .Form_checks{
        width: 40%;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .Form_box_input_social{
        grid-template-columns: 1fr 1fr;
    }
    
}